In [1]:
import pandas as pd

In [6]:
file_path = r'D:\Projects\gems-price-prediction\data_files\train.csv'
# or file_path = 'D:/Projects/gems-price-prediction/data_files/train.csv'

data = pd.read_csv(file_path)

In [7]:
data.head(2)

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

Introduction About the Data :
The dataset The goal is to predict price of given diamond (Regression Analysis).

There are 10 independent variables (including id):

id : unique identifier of each diamond

carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.

cut : Quality of Diamond Cut

color : Color of Diamond

clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.

depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)

table : A diamond's table is the facet which can be seen when the stone is viewed face up.

x : Diamond X dimension

y : Diamond Y dimension

x : Diamond Z dimension

Target variable:

price: Price of the given Diamond.

# Primary analysis on sample

In [8]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
183282,183282,1.13,Very Good,F,SI2,62.6,59.0,6.64,6.61,4.16,4916
30621,30621,1.29,Ideal,E,VS2,61.6,55.0,7.03,7.06,4.34,9482
159798,159798,1.23,Ideal,H,VS1,61.5,57.0,6.85,6.89,4.23,7207
100434,100434,1.04,Very Good,E,SI2,63.2,58.0,6.47,6.42,4.08,4398
177043,177043,1.10,Ideal,F,VVS2,62.7,57.0,6.57,6.60,4.14,8941
27508,27508,0.90,Good,E,SI2,64.2,57.0,6.01,6.05,3.86,3217
104023,104023,2.01,Premium,H,SI1,61.1,58.0,8.18,8.12,4.98,17160
185184,185184,0.71,Very Good,E,SI1,63.9,57.0,5.65,5.68,3.63,2558
173439,173439,1.01,Very Good,D,SI2,62.4,57.0,6.40,6.38,3.99,3864
74262,74262,1.02,Ideal,G,VS1,61.6,56.0,6.37,6.46,3.96,7177

In [9]:
data.isna().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [11]:
data.shape

(193573, 11)

In [12]:
data.size

2129303

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [14]:
data.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z', 'price'],
      dtype='object')

### dropping unnecessary columns like 'id'

In [16]:
data.drop(labels=['id'], axis=1, inplace=True)

In [17]:
data.head(2)

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387

In [19]:
# checking duplicated rows are present in data or not 
# in-order to reduce data redundancy
data.duplicated().sum()

0

In [23]:
# finding categorical columns
cat_columns = data.columns[data.dtypes == 'object']

In [22]:
# finding numerical columns
num_colums = data.columns[data.dtypes != 'object']

In [24]:
data[num_colums].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   carat   193573 non-null  float64
 1   depth   193573 non-null  float64
 2   table   193573 non-null  float64
 3   x       193573 non-null  float64
 4   y       193573 non-null  float64
 5   z       193573 non-null  float64
 6   price   193573 non-null  int64
dtypes: float64(6), int64(1)
memory usage: 10.3 MB

In [25]:
data[cat_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   cut      193573 non-null  object
 1   color    193573 non-null  object
 2   clarity  193573 non-null  object
dtypes: object(3)
memory usage: 4.4+ MB